<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/search_preds.js"></script>
</head>
<body>

    <form  method="POST" id="searchform" action="/search">
        <h1>Enter a movie you like:</h1>
        <span>Search this site: </span>
        <input type="text" id="search-bar" name="moviename" autocomplete="off" />
          <ul class="output" style="display:none;">
          </ul>
        <button type="submit" id="submit">Search</button>
    </form>
      
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Patua+One' rel='stylesheet' type='text/css'>
</body>
</html>